/* ==========
    GLOBAL 
   ==========*/
/* body {
    background: #D7E1EC;
} */

section {
    padding: 5rem 0;
}


/* ==========
    NAVBAR 
    ==========*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar .navbar-toggler .fa {
    font-size: 25px;
    color: black;
}

.wrapper .button {
    height: 60px;
    width: auto;
    margin: 10px;
    background: #e7ebee;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-out;
    overflow: hidden;
}

.wrapper .active-btn {
    background: #47af55;
}

.wrapper .button:hover {
    width: auto;
}

.wrapper .button .icon {
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

@media (min-width:768px)
{
    .navbar {
        position: fixed;
        bottom: 0;
    }

    .wrapper .button {
        width: 60px;
    }

    .wrapper .button:hover {
        width: 175px;
    }
}


/* ==========
    HOME
    ========== */
#my-home {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

#my-home:before {
    content: "";
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#my-home .container {
    z-index: 2;
}

.home h1 {
    font-weight: 700;
    color: #3d3d3d;
}

.home h5 {
    letter-spacing: 10px;
    color: black;
}

@media (min-width:768px)
{
    #my-home {
        padding-left: 15rem;
        text-align: left;
    }
}


/* ==========
    PROFILE
    ========== */
#my-profile {

}

.profile .title {
    text-align: center;
}

.profile .title h2 {
    margin-bottom: 0;
}

.profile .title h1 {
    font-weight: 900;
    transform: scaleY(1.5);
}

.card {
    display: flex;
}